body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.header {
  width: 100%;
  height: 111px;
  background-image: linear-gradient(to bottom, #4c61fc, #4153d5);
  display: grid;
  align-items: center;
  grid-column-gap: 2%;
}

.header .back-button {
  grid-column: 1;
  background-color: transparent;
  color: #ffffff;
}

.header h2 {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
}

.header button {
  width: 135px;
  height: 32px;
  border-radius: 20.7px;
  border: solid 0.9px #ffffff;
}

.header .view-button {
  grid-column: 5;
  background-color: transparent;
  color: #ffffff;
}

.header .send-to-pacs {
  grid-column: 6;
  background-color: transparent;
  color: #ffffff;
}

.header .save {
  grid-column: 7;
  color: #324afd;
  background-color: #ffffff;
}

.header .created-at {
  grid-column: 8;
  color: #ffffff;
  font-size: 23px;
  font-weight: 300;
}

.content {
  margin-left: 5%;
}

.overview table {
  text-align: left;
  width: 90%;
  border-radius: 14px;
  background-color: #f6f7f9;
  margin-top: 10px;
}

.overview th {
  color: #4153d5;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.overview td {
  color: #2b2d36;
  opacity: 0.8;
  font-size: 20px;
  letter-spacing: 0.42px;
}

.details {
  display: grid;
}

.details .segmentation {
  grid-column: 1;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.61px;
  color: #424242;
}

.details .segmentations-picture {
  width: 595px;
  height: 350px;
  border-radius: 7px;
  background-color: #000000;
}

.details .segmentation .open-new-window {
  width: 52px;
  height: 55px;
  border-radius: 17px;
  box-shadow: 0 3px 6px 0 #2c5294;
  background-image: linear-gradient(159deg, #4c61fc, #4153d5);
  position: absolute;
  margin-left: 600px;
}

.details .quality {
  grid-column: 2;
}

.details .quality h4 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.51px;
  color: #424242;
}

.details .quality table {
  text-align: left;
}

.details .quality th {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 13px;
  letter-spacing: 2.07px;
}

.details .quality td {
  opacity: 0.8;
  font-size: 15px;
  letter-spacing: 0.9px;
}

.details .lesions-details {
  grid-column: 1;
}

.details .lesions-details table {
  text-align: left;
}

.details .lesions-details h4 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.51px;
  color: #424242;
}

.details .lesions-details th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
  opacity: 0.8;
}

.details .lesions-details td {
  opacity: 0.8;
  font-size: 15.4px;
}

.footer {
  background-color: #e5e6ee;
  height: 135px;
  width: 100%;
}

.footer p {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.64px;
  color: #4153d5;
  padding-top: 30px;
}